<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer-top">
          <h2 class="logo-title">
            <a href="{{site.baseurl}}/" class="logo-text">しろくま＠胡瓜's Blog</a>
          </h2>
          <div class="top"><i class="ion ion-ios-arrow-up"></i></div>
        </div>
        <div class="footer-bottom">
          <div class="copyright">
            <p>Copyright &copy; {{site.time | date: '%Y'}} <a href="https://github.com/shirokuma-89">しろくま＠胡瓜</a> All Rights Reserved.</p>
          </div>
          <div class="footer-social">
            <ul class="list-reset">
              {% if site.twitter %}
              <li><a href="{{ site.twitter }}">Twitter</a></li>
              {% else %} {% endif %}

              
              {% if site.github %}
              <li><a href="{{ site.github }}">Github</a></li>
              {% else %} {% endif %}

              
              {% if site.qiita %}
              <li><a href="{{ site.qiita }}">Qiita</a></li>
              {% else %} {% endif %}

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> <!-- /.footer -->